
 {% block body %}
    

 
<form action="{{ path('main', { "name": name } )}}" method="post" {{ form_enctype(form) }}>
  Hello {{ name |nl2br }}!
 Guess a number between 1-10  
  
 {{ form_widget(form) }}
   	

    <input type="submit" value="guess" />
</form>

 {% endblock %}	
 

